.container-fluid {
    text-align: center;
    background-color: #1b3c65;
}

.container {
    text-align: center;
    background-color: #1b3c65;
    border-radius: 50px 50px 50px 50px;  
    padding: 30px;
}

.display-2 {
    color: white;
    outline: 10px;
    outline-color: black;
    padding: 10px;
}

body {
    background-color: #3a67a7;
}

.pic-selection {
    border-color: white;
    border: 2px;
}

.draggable {
    touch-action: none;
    user-select: none;
    width: 150px;
    height: 150px;
}

.rabbit-droptarget {
    width: 120px;
    height: 700px;   
    border: 5px;
    border-style: dotted;
}

.snake-droptarget {
    width: 120px;
    height: 700px;
    border: 5px;
    border-style: dotted;   
}

.turtle-droptarget {
    width: 120px;
    height: 700px;   
    border: 5px;
    border-style: dotted;
}

.dog-droptarget {
    width: 120px;
    height: 700px;   
    border: 5px;
    border-style: dotted;
}

.cat-droptarget {
    width: 120px;
    height: 700px;   
    border: 5px;
    border-style: dotted;
}

.kangaroo-droptarget {
    width: 120px;
    height: 700px;   
    border: 5px;
    border-style: dotted;
}

.btn-primary {
    background-color: #3a67a7;
    border-color: #3a67a7;
}

.profilepic {
    width: 110px;
    height: 110px;
    margin: 8px;
}
