.container-fluid {
    text-align: center;
    background-color: #1b3c65;
}

.col {
    padding: 10px;
}

.container {
    text-align: center;
    background-color: #1b3c65;
    border-radius: 50px 50px 50px 50px;  
    padding: 30px;
    width: 100000px;
}

.display-2 {
    color: white;
    outline: 10px;
    outline-color: black;
    padding: 10px;
}

body {
    background-color: #3a67a7;
}

.pic-selection {
    border-color: white;
    border: 2px;
}

.draggable {
    touch-action: none;
    user-select: none;
    width: 150px;
    height: 150px;
}

.rabbit-droptarget {
    width: 110px;
    height: 110px;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    transition: background-color 0.5s;
    transition: border-color 0.5s;     
}

.snake-droptarget {
    width: 110px;
    height: 110px;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    transition: background-color 0.5s;
    transition: border-color 0.5s;    
}

.turtle-droptarget {
    width: 110px;
    height: 110px;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    transition: background-color 0.5s;    
    transition: border-color 0.5s;      
}

.dog-droptarget {
    width: 110px;
    height: 110px;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    transition: background-color 0.5s;
    transition: border-color 0.5s;     
}

.cat-droptarget {
    width: 110px;
    height: 110px;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    transition: background-color 0.5s;
    transition: border-color 0.3s;     
}

.kangaroo-droptarget {
    width: 110px;
    height: 110px;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    transition: background-color 0.5s; 
    transition: border-color 0.3s;  
}

.groundhog-droptarget {
    width: 110px;
    height: 110px;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    transition: background-color 0.5s;
    transition: border-color 0.5s; 
}

.hen-droptarget {
    width: 110px;
    height: 110px;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    transition: background-color 0.5s;
    transition: border-color 0.5s; 
}


.btn-primary {
    background-color: #3a67a7;
    border-color: #3a67a7;
}

.profilepic {
    width: 110px;
    height: 110px;
    margin: 8px;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.animal-picture {
  border-radius: 3px;
  width: 145px;
  height: 145px;
}

.can {
    width: 110px;
    height: 110px;
    border: dashed 4px;
    border-color: #bd3131;
    border-radius: 4px;
    transition: border-color 0.3;  
    padding: 7px;
}

.remove {
    text-align: right;
    padding: 10px;
}

.remove-activate {
    background-color: red;
}

.vertical {
    border-left: 2px dashed;
    height: 1110px;
    color: #aaa;
}


